<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid ms-5">
        <a class="navbar-brand" th:href="@{/}">BestGC</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/}">
                    Profile App
                </a>
                <a class="nav-link" href="#">Run App</a>
            </div>
        </div>
    </div>
</nav>
