<!DOCTYPE html>                                 
<html xmlns:th="http://www.thymeleaf.org">
<head>                                         
  <title>BestGC</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/profileChart.js"></script>
</head>
<body>
  <h2>Benchmark Result</h2>
        <div th:switch="${profileAppResponse}" th:object="${profileAppResponse}">
        <p th:case="null">Couldn't run benchmark.</p>
        <div th:case="*">
        <p th:text="*{'The BestGC is: ' +  bestGC}"/> 
        <p th:text="*{'Suggested Heap Size: ' +  heapSize}"/> 
        <p th:text="*{'Max HeapSize used: ' +  maxHeapSize}"/> 
        <p th:if="*{cpuIntensive}">Application is cpu intensive<p/> 
        <p th:unless="*{cpuIntensive}">Application is I/O intensive<p/>  
        <script th:inline="javascript">
            let cpu_usage = [[*{cpuUsage}]];
            let io_time = [[*{ioTime}]];
            let cpu_time = [[*{cpuTime}]];
        </script>
        <div>
          <canvas id="cpuUsageChart"></canvas>
        </div>
        <div>
          <canvas id="timePercentageChart"></canvas>
        </div>
        </div> 
</body>
</html>
